@model IEnumerable<GibiSu.Models.Order>
@using Microsoft.EntityFrameworkCore;
@using GibiSu.Data;
@inject ApplicationDbContext context;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index"; 
    string userName = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var products = context.Products;
    var orderProducts = context.OrderProducts.Include(o => o.Order).Include(o => o.Product).Where(o => o.Order.UserId == userName);
}

<h1 style="text-align:center;color:white;margin-bottom:50px;">Siparişlerim</h1>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        <tr>
            @foreach (var item2 in item.OrderProducts)
            {
                    @foreach (var item3 in products)
                    {
                        if (item2.ProductId == item3.Id) { 
                    <td>
                        <img src='data:image/jpeg;base64,@Convert.ToBase64String(item3.Image)' class="card-img-top" />
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item3.Name)
                    </td>
                        }
                    }  
            }
        </tr>
        <div class="container"></div>
        <tr style="height:50px;"></tr>
}
    </tbody>
</table>
