@model IEnumerable<GibiSu.Models.OrderProduct>
@using GibiSu.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext context;
@{
    ViewData["Title"] = "Index";
    long orderId = Model.Select(o => o.OrderId).FirstOrDefault();
}
<script>
    function CountUp(pid) {
        $.get("@Url.Action("CountPlus","OrderProducts")?productid=" + pid, function (pcount) {
            $("#PCount-" + pid).val(pcount);
        });
    }
    function CountDown(pid) {
        $.get("@Url.Action("CountMinus","OrderProducts")?productid=" + pid, function (pcount) {
            $("#PCount-" + pid).val(pcount);
        });
    }
</script>

<h1>Sepetim</h1>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="product-card card shadow">
                    <img src='data:image/jpeg;base64,@Convert.ToBase64String(item.Product.Image)' class="card-img-top" />
                    <div class="card-body mt-2">
                        <div style="text-align: center" class="product-card-title">
                            @item.Product.Name
                        </div>
                        <div class="product-card-price">@item.Price TL</div>
                        <div style="text-align: center; margin-bottom: 10px">
                            <button class="cart-count-btn btn btn-primary" onclick="CountDown(@item.ProductId)">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <span>
                                <input disabled id="PCount-@item.ProductId.ToString()"
                                   type="number"
                                   style="width: 50px; border-radius: 10px" value="@item.Amount" />
                            </span>
                            <button class="cart-count-btn btn btn-primary" onclick="CountUp(@item.ProductId)">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div style="text-align: center">
    <span>
        <button onclick="location.href='/orders/edit/@orderId'" class="button-card-cart btn btn-primary">
            <i class="fa-solid fa-cart-shopping"></i>Sepeti Onayla
        </button>
    </span>
</div>