@model IEnumerable<GibiSu.Models.OrderProduct>
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using GibiSu.Data;
@inject ApplicationDbContext context;
@inject SignInManager<ApplicationUser> _signInManager;

@{
    ViewData["Title"] = "Index";
    //var orderProducts = context.OrderProducts.GroupBy(o=> o.ProductId)
    //             .Select(g => new { ProductId = g.Key, SumAmount = g.Sum(o => o.Amount), SumTotalPrice = g.Sum(o => o.TotalPrice) });
    var products = context.Products;

    var users = _signInManager.UserManager.Users;
    //.Join(orderProducts, p => p.Id, o => o.ProductId, (p, o) => new
    //{
    //    Name = p.Name, Image = p.Image, Amount = o.SumAmount, TotalPrice = o.SumTotalPrice, Id= p.Id
    //});
    
}
<script>
    function GetSellingProduct(){
        var selectProduct = document.getElementById("SelectedProduct").value;
        var selectUser = document.getElementById("SelectedUser").value;
        var inputFirstDate = document.getElementById("FirstDate").value;
        var inputLastDate = document.getElementById("LastDate").value;
        $("#GetReport").load("@Url.Action("Reports","OrderProducts")?SelectProductId=" + selectProduct + "&SelectUser=" + selectUser + "&FirstOrderDate=" + inputFirstDate + "&LastOrderDate=" + inputLastDate);
    }
</script>
<h1 style="text-align:center;color:white;margin-bottom:50px;">Satışlarım</h1>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data">
            <div class="form-group">
                <label  class="control-label">Ürünler</label>
                <select id="SelectedProduct" class="form-control">
                    <option  class="form-control" value="Seçiniz" selected>Seçiniz</option>
                    @foreach (var item3 in products)
                    {
                        <option  value="@item3.Id" class="form-control">@item3.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Müşteriler</label>
                <select id="SelectedUser" class="form-control">
                    <option class="form-control" value="Seçiniz" selected >Seçiniz</option>
                    @foreach (var item3 in users)
                    {
                        <option value="@item3.Id" class="form-control">@item3.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Başlangıç Tarihi</label>
                <input id="FirstDate" type="date" class="form-control" />
                <span class="text-danger"></span>
                <label class="control-label">Bitiş Tarihi</label>
                <input id="LastDate" type="date" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input onclick="GetSellingProduct()"  type="button" value="Raporu Getir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table" id="GetReport">
   
</table>

