@model IEnumerable<GibiSu.Models.Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Banner != null)
                    {

                        <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Banner)" />
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Url">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Url">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Url">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
